body {
  font-family: "Inter", sans-serif;
  color: #344054;
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 25px;
}

h1 {
  font-weight: 700;
  font-size: 15px;
}

p {
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
}

img {
  display: block;
  margin: 0 auto;
  height: 100%;
}

.step {
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: row;
}
